.wrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 32px 16px;
    max-width: 100vw;
    // height: 700px;
    background-color: pink;
}

.container {
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: relative;
    outline: 0px;
    max-width: calc(100vw - 32px);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    overflow: hidden;
    width: auto;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    opacity: 1;
    transform: none;
    // height: 700px;
    // background-color: aqua;
}

.content {
    height: 700px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    padding: 24px 24px 12px;
    line-height: 36px;
    color: rgb(22, 24, 35);
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.2);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;

    .close {
        width: 24px;
        height: 24px;
        cursor: pointer;
        margin-right: 12px;
    }
}

.action-user {
    height: 86px;
    display: flex;
    padding: 0px 24px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    border-top: 0.5px solid rgba(22, 24, 35, 0.2);
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.cancel {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgb(22, 24, 35);
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgb(255, 255, 255);
    min-height: 28px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 24px;
    min-width: 0px;
    padding: 7px 16px;
    width: 96px;
    height: 36px;
    margin-left: 16px;
}

.save {
    border: none;
    color: rgba(22, 24, 35, 0.34);
    background-color: rgba(22, 24, 35, 0.06);
    pointer-events: none;

    // border-radius: 4px;
    // border: none;
    // color: rgb(255, 255, 255);
    // background-color: rgb(254, 44, 85);
    // min-height: 28px;
    // font-size: 14px;
    // font-weight: 600;
    // display: flex;
    // position: relative;
    // -webkit-box-align: center;
    // align-items: center;
    // -webkit-box-pack: center;
    // justify-content: center;
    // user-select: none;
    // cursor: pointer;
    // box-sizing: border-box;
    // line-height: 24px;
    // min-width: 0px;
    // padding: 7px 16px;
    // width: 96px;
    // height: 36px;
    // margin-left: 16px;
}
