.wrapper {
}

.avatar--anchor {
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.body {
}

.account-item {
}

.info {
}

.username {
}

.checkIcon {
    margin-left: 6px;
    color: rgb(120, 249, 249);
}

.name {
}

.video-item {
}

.video {
    width: 275px;
    height: 492px;
}
