.wrapper {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}
.body {
    margin-top: 12px;
    color: #161823;
}
.username {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 22px;
}
.checkIcon {
    font-size: 1.4rem;
    margin-left: 6px;
    color: rgb(120, 249, 249);
}
.name {
    font-size: 1.4rem;
}
.analytics {
    margin-top: 8px;
    font-size: 17px;
}

.value ~ .value {
    margin-left: 20px;
}

.label {
    color: #161823bf;
}
